* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}


.container{
    margin: 5px;
}



                                    /*nav*/
.logo{
     margin:0 40px;
    
}

.title {
    margin: 30px 0;
}

.annonce{
    font-size: 25px;
    margin: 5px 20px;

}

.small_info {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #000;
}


nav {
    display: flex;
   justify-content: space-between;
}

.nav {
    width: auto;
}

nav ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: grey;  
    justify-content: flex-end; 
}

.nav_1 {
    padding: 20px;
    border-top: 3px solid transparent;
    border-left: none;
    border-right: none;
    
}
nav li {
    margin: -5px 0;
}
.nav_1:hover {
    border-top: 3px solid #0065FC;
}

header a:hover {
    color: #0065fc;
}




                                 /*Button Recherche*/

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    width: 50px;
    height: 45px;
}

input{
    width: 200px;
    height: 40px;
    padding: 20px;
    border: 0.5px solid #d9d9d9;
}

input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    color: #000;
    font-family: raleway;
}

input::-moz-placeholder {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    color: #000;
    font-family: raleway;
}

input:-ms-input-placeholder {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    color: #000;
    font-family: raleway;
}

input::-ms-input-placeholder {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    color: #000;
    font-family: raleway;
}

input::placeholder {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    color: #000;
    font-family: raleway;
}

.button {
    border: 0.5px ;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    background-color:#0065fc;
    color: white ;
    width: 110px;
    height: 42px;
    font-size: 15px;
    font-weight: bold;
}

.fa-search {
    visibility: hidden;
}

.search {
    display: flex;
    align-items: center;
    margin: 0 20px ;

}

#info{
    color: #0065fc;
    border: 1px solid grey;
    border-radius: 20px 20px 20px 20px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__info {
    display: flex;
    align-items: center;
    margin: 40px 20px;
}




                                    /*Filtres*/

.filters {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.filters_title{
    margin-right: 30px ;
}

.filters_icons {
    display: flex;
    align-items: center;
    margin: 30px 0;
    
    
}

a .filter_icon:hover{
    background-color: #deebff;
    transform: translate(5px, 10px);
}

.filter_icon {
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    height: 35px;
    margin-right: 40px;
    color: #000;
    transition: .2s ; 
    
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    border-radius: 25px;
    background-color:#deebff;
    width: 37px;
    height: 37px;
    font-size: 15px;
    margin: 40px 0;
 }

.filter_name {
     margin: 10px;
 }

 .fa-info {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 25px;
     border: 2px solid #eeeded ;
     width: 40px;
     height: 40px;
 }





                                      /*Hebergement */

 main {
    display: flex;
    justify-content: space-around;
 }

 .title__main {
    font-size: 25px;
    margin: 30px 0 10px 30px;
}

#container__main {
    background-color: #F2F2F2;
    border-radius: 25px; 
    width: 68%;
    height: auto;
     
 }

.container__cards{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 15px;
     
 }

.hebergement_card{
    background-color: white;
    border-radius: 25px;
    width: 30%;
    height: 240px;
    margin: 40px 0;
    transition: 0.2s;
    box-shadow: 5px 5px 5px 5px rgb(213, 213, 218);
    
 }

 .container__card__img{
    border-radius: 25px 25px 0px 0px;
    background-color: white;
    width:100%;
    height: 150px;
    padding: 5px;  
    -o-object-fit: cover;  
       object-fit: cover; 
 }

 .card__info {
     margin: 5px 20px 0 ;
 }

 .euros {
    font-weight: bold;
    color: #000;
}


 .hebergement_card:hover{
    background-color:white;
    transform: translate(5px, 10px); 
}

i {
    color: #0065fc; 
}

.star{
    margin: 10px 20px;
}

.name__hebergement {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding: 0;
    margin: 0 0 5px 0;
}

.fiche_plus {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px;
}




                                      /* Populaires*/

 aside {
     padding: 10px;
     width: 28%;
     height: auto;
     background-color: #f2f2f2;
     border-radius: 25px;
 }

 .title__popular { 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title__aside {
    font-size: 25px;
    margin: 20px 0 10px 20px;
}

.fa-chart-line {
    font-size: 30px;
    color: #000;
}
 
 .popular_star {
     display: block;
     flex-wrap: wrap;
     margin: 60px 20px;
 }

.container__popular {
    display: flex;
    background-color: white;
    border-radius: 25px;
    width: 85%;
    height: 180px;
    transition: .2s ;
    box-shadow: 5px 5px 5px 5px rgb(213, 213, 218);
    margin: 45px 30px;
    padding: 5px;
}

.container__popular__img {
    border-radius: 25px 0px 0px 25px;
    width: 40%;
    height: 170px;
    object-fit: cover;
 }

 .container__popular:hover {
    transform: translate(5px, 10px);
 }

 .name__popular {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    padding: 0;
    margin: 0 0 5px 0;
 }

 .card__info__popular {
    margin: 5px 20px 0 ;
 }



                                   /*Activite a marseille*/

#article_container {
    width: auto;
}
 
.title__activite {
    font-weight: bold;
    font-size: 22px;
    margin:  60px 20px;
}

.container_activites {
    display: flex;
    margin: 0 10px;
}

.container_activite{
     display: flex;
     width:  100%;
     margin: 0 17px;
 }
 .container_small_activite{
     
     width: 100%;
     margin: 0 0 0 25px;
     

 }

 .container_large_img {
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgb(228, 228, 230);
    width: 100%;
    height: 430px;
    
 }
 .large_img {
     border-radius: 25px 25px 0px 0px;
     width: 100%;
     height: 380px;
     -o-object-fit: cover;
        object-fit: cover;
 }

 .container_small__img {
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgb(213, 213, 218);
    width: 100%;
    height: 190px;
    margin: 0 0 50px;

    
 }

 .small__img{
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    
}

.container_small_img_pomegues {
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgb(213, 213, 218);
    width: 100%;
    height: 230px;
}

.small_img_pomegues {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
}

.container_small_img_frioul {
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgb(213, 213, 218);
    width: 100%;
    height: 150px;
    margin: 50px 0;

}

.small_img_frioul {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
}

.name__activite {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    padding: 0;
    margin: 15px;
}



                                           /* Footer*/

.container_footer {
    display: flex;
    justify-content: space-between;
    background-color: #eeeded;
    width: 100%;
    height: 200px;   
}

.container_footer_category {
    display: flex;
    box-sizing: border-box;
    align-items: stretch;
    
}

footer ul {
    list-style: none;
    margin: 20px;
    padding: 10px;
}

footer li {
    margin: 10px;

}

footer a {
    color:black;
}

.title__footer {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}





                                      /*Media queries 992px*/

@media  screen and (max-width: 992px)

{
    nav {
        display: flex;
    }
    .nav_1:hover {
        color: #0065fc;
        padding-top: 20px;
        border-top: #0065FC solid 3px;
    }

    .search {
        margin: 20px 20px;
    }

    .filter_icons {
        margin: 30px -18px;
    }

    main {
        flex-direction: column-reverse;
    }

    #container__main {
        width: 100%;
        margin-bottom: 50px;
        border-radius: 0;
    }

    aside {
        width: 100%;
        border-radius: 0;
        margin: 20px -2px;
    }

    .container__popular {
        width: 100%;
        margin: 20px 0;
    }

    .container_activites {
        flex-direction: column;
        align-items: center;
    }

   
}





@media  screen and (max-width: 920px) {

     .container__footer__category {
        padding-right: 0;
    }
    
    .container_footer {
        height: 260px;
    }
}




                                        /* Media queries 768px*/

@media screen and (max-width: 768px)
 {
    .container {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

     .logo {
        align-self: center;
        width: 200px;
        display: flex;
        margin-left: 100px;
     }

     .annonce {
         font-size: 20px;
         margin: 0 10px 10px;
     }

     .small_info {
         font-size: 14px;
         margin: 0 10px;
     }

    header nav {
        width: 100%;
        display: flex;
        width: 100%;
        text-align: center;
        flex-direction: column;
        
    }


    header li {
        min-width: 200px;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex: 1;
        justify-content: center;
        border-bottom: 3px solid #f2f2f2;
    }

    
    .nav_1:hover {
        padding: 20px;
        border-top: 3px solid transparent;
        border-bottom: #0065FC solid 3px;
    }

.title {
        text-align: start;
    }

    .button {
        display: none;
    }
    .search {
        justify-content: center;
        width: 90%;
    }

    .fa-search {
        visibility:visible;
        color: white;
        background-color: #0065fc;
        border-radius: 15px;
        margin: -10px ;
        height: 50px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 100%;
        height: 50px;
    }

    #map {
        height: 52px;
    }
    .filters {
        display: block;
        margin: 0 10px;
        
    }

    .filters_title {
        margin:  20px;
    }
    .filters_icons {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 70%;
        margin: 10px ;
        padding: 0 10px  ;
    }  

    .filter_icon {
        
        margin: 10px 0;
    }
    .title {
        text-align: justify;
        margin: 20px;
        width: 80%;
    }
    .fa-info {
        margin: 0 10px;
        height: 40px;
        width: 50px;
    }

    .container__info {
        font-size: 15px;
        margin: 0 10px 20px;
        text-align: justify;
    }


        /*hebergements*/
    
    main {
        flex-direction: column-reverse;
        
    }


    #container__main {
        background-color: #ffffff;
        width: 100%;
    }

    .title__main {
        margin: 30px 0 10px 10px;
    }

    .container__cards {
        flex-direction: column;
        margin: 15px;
    }

     .hebergement_card {
        width: 95%;
        margin: 10px 0 0 10px; 
        box-shadow: 1px 1px 1px 1px #d9d9d9; 
    }

     aside {
        width: 100%;
        border-radius: 0;
    }

    .container__popular {
        width: 95%;
        margin: 30px 10px;
        
    }

    .title__aside {
        margin: 20px 10px;
    }

    .fa-chart-line {
        font-size: 25px;
        margin: 0 10px;
    }

    
   

    /*Activite a marseille*/

    #article_container {
        display: block; 
        width: 100%;
    }

    .title__activite {
        margin: 30px 20px;
    }

    .container_activites {
        display: block;
    }

    .container_activite {
        display: block;
        margin: 0;
        padding: 0;
        width: auto;

    }

    .container_small_activite {
        margin: 0;
        width: 95%;
        margin: 10px 10px;
    }

    .container_large_img {
        width: 95%;
        height: 150px;
        margin: 10px 10px;
        
    }

    .large_img {
        width: 100%;
        height: 100px;
    }

    .container_small__img {
        width: 100%;
        height: 150px;
        margin: 20px 0;
      
    }

    .container_small_img_pomegues {
        width: 100%;
        height: 150px;
    }

    .small_img_pomegues {
        width: 100%;
        height: 100px;
    }

    .container_small_img_frioul {
        width: 100%;
        height: 150px;
        margin: 15px 0;
    }

    .small_img_frioul {
        width: 100%;
        height: 100px;
    }

    .small__img {
        width: 100%;
        height: 100px;
    }

    .name__activite {
        margin: 10px;
    }

    

    .container_footer {
        flex-direction: column;
        height: 575px;
    }

    footer {
        width: 100%;
    }

    .footer li{
        width: 100%;
        padding:30px 0;
        margin: -45px;
        
    }
}